@import "./footer.scss";
@import "./animation.scss";
@import "./header.scss";
@import "./search.scss";
@import "./swiper.scss";
@import "./hamburger.scss";
@import "./radio.scss";
@import "./statistics.scss";
@import "./scrollbar.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main {
  background-image: url(/assets/img/kinoteatr.jpg);
  background-size: cover;
  height: 100vh;
}

.help {
  text-align: center;

  &:hover {
    cursor: pointer;
    color: wheat;
    transition: 0.5s linear;
  }
}

.goog-te-combo {
  outline: none;
}
