@import './footer.scss';
@import './animation.scss';
@import './header.scss';
@import './search.scss';
@import './swiper.scss';
@import './hamburger.scss';
@import './radio.scss';


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#wrapper {
    margin: 0 auto;
}

.main {
    background-image: url(/assets/img/kino.jpg);
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 200px;
    min-height: 550px;
}

.goog-te-combo {
    outline: none;
}

.goog-te-gadget .goog-te-combo {
    background-color: #69f3ea !important;
}
