#rad_block_logo {
    display: none;
}

#rad_player {
    height: 50px !important;
    background-color:#09aba1 !important;
}

#rad_list {
    background-color:#09aba1 !important;
}

.rad_selection {
    background-color:#09aba1 !important;
}
