#rad_block_logo {
    display: none;
}

#rad_player {
    height: 50px !important;
    border-radius: 10px !important;
    width: 303px !important;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 70px;
}
