.statistics {
    display: flex;
    justify-content: center;
}

.table {
    display: none;

    &__dark {
        font-size: 20px;
        text-align: left;
        border-collapse: collapse;
        background: #252F48;
        overflow: auto;
        max-height: 100%;
        margin-top: 100px;

        & th {
            color: #EDB749;
            padding: 12px 17px;
        }

        & td {
            color: #CAD4D6;
            padding: 7px 17px
        }
    }
}
