.statistics {
  display: flex;
  justify-content: center;
}

.total {
  font-weight: bold;
  text-align: center;
}

.table {
  display: none;

  &__dark {
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
    background: #252f48;
    overflow: auto;
    max-height: 517px;

    & th {
      color: #edb749;
      padding: 12px 17px;
    }

    & td {
      color: #cad4d6;
      padding: 7px 17px;
    }
  }
}
