{
    "extends": ["airbnb/base"],
    "rules": {
        "indent": [2, 4],
        "linebreak-style": 0,
        "quotes": [2, "single"],
        "import/prefer-default-export": "off"
    },

    "globals": {
        "document": true,
        "localStorage": true,
        "fetch": true
    }
}
